<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="" />
    <link rel="stylesheet" href="/bundle.css" />
    <title></title>
  </head>
  <body>
    <header>
      <h2 class="header">The Stomping Ground</h2>
    </header>
    <p>
      A place or area that someone is very familiar with and where they like to
      spend time.
    </p>
    <main>{{ content }}</main>
  </body>
</html>
