.grid {

  display: flex;
  flex-flow: row wrap;

}

.col-1-2 {
  flex: 50% 0 1;
}

.col-1-3 {
  flex: 33.3% 0 1;
}

.col-2-3 {
  flex: 66.6% 0 1;
}

.col-1-4 {
  flex: 25% 0 1;
}

.col-2-4 {
  flex: 50% 0 1;
}

.col-3-4 {
  flex: 75% 0 1;
}

.col-1-5 {
  flex: 20% 0 1;
}

.col-2-5 {
  flex: 40% 0 1;
}

.col-3-5 {
  flex: 60% 0 1;
}

.col-4-5 {
  flex: 80% 0 1;
}

.fill {
  flex: 100% 0 1;
}
